.waves{
    background-image: url("../assets/images/wave.svg");
    height: min-content;
}

.wavesR{
    background-image: url("../assets/images/waveReverse.svg");
    height: min-content;
}

.waves2{
    background-image: url("../assets/images/magicpattern-wave-generator-1691723150428.jpeg");
    
}