.waves{
    background-image: url("../assets/images/waves.jpeg");
    height: screen;
}

.wavesR{
    background-image: url("../assets/images/wavesR.jpeg");
    height: 100vh;
}

.wavesC{
    background-image: url("../assets/images/wavesContact.jpeg");
}
