.waves{
    background-image: url("../assets/images/waves.jpeg");
    height: screen;
}
.wavesN{
    background: none;
    height: screen;
    display: hidden;
}
.wavesR{
    background-image: url("../assets/images/wavesR.jpeg");
    height: 100vh;
}

.wavesC{
    background-image: url("../assets/images/wavesContact.jpeg");
}

.fonte {
    font-family: 'Lobster', cursive;
}